/* {% load static %} */
body {
    background: white url("img.jpeg") no-repeat center center fixed;
  background-size: cover;

}
li {
    font-size: 30px;
    margin: 0 0 10px 0;
}
input[type=submit] {
    padding:7px 15px;
    background:rgb(209, 207, 102);
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}